@charset "utf-8";
/* CSS Document */
a
{
    text-decoration:none;
	color:#e6e3bb;
}
body 
{
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    margin-left:0 auto;
    -webkit-font-smoothing: antialiased;
}
#body{
    position:relative;
    margin:0px 0px;
	width:1200px;
	height:2000px;
    background-color:#8e4423;
    background-image:url("back.png");
    background-size:cover;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    text-align:center;
}

#main_header{
    border-radius:10px;
    background-image: -moz-linear-gradient( 90deg, #272a2d 0%, #1f2224 100%);
    background-image: -webkit-linear-gradient( 90deg, #272a2d 0%, #1f2224 100%);
    background-image: -ms-linear-gradient( 90deg, #272a2d 0%, #1f2224 100%);
    box-shadow: 0px 0px 3px 0px rgb( 0, 0, 0 );
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    position: relative;
    left: 120px;
    top: -18px;
    width: 960px;
    height: 92px;  
    color:#e6e3bb;
}

#main_header ul 
{
    margin-top:40px;
    display:inline-block;
    position:relative;
    border-left: 1px solid #7b7a6d;
    text-indent:0px;
}
#main_header ul li
{
	list-style:none;
    display:inline-block;
    padding-left:20px;
    font: 14px "Myriad pro";
    padding-top:5px;
    padding-bottom:5px;
    text-indent:0px;
}
#main_header h1
{
	margin: 25px 20px;
	font: 30pt italic "Nikaia script";
    text-align:left;
}
.name {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb( 123, 122, 109 );
  text-align: right;
}
.name strong
{
    text-decoration:none;
    color:#8e4423;
}
#main_header>ul>li>a
{
    text-decoration:none;
    color:#e6e3bb;
    text-decoration:none;
}
#userid {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, #3f4245 0%, #242628 100%);
    background-image: -webkit-linear-gradient( 90deg,#242628  0%, #1b1d1e 100%);
    background-image: -ms-linear-gradient( 90deg, #3f4245 0%, #242628 100%);
    border-bottom: 1px solid #3f4245;
    box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
    position:relative;    
    left:70px;
    width: auto;
    height: 22px;
    padding:5px;
    padding-top:3px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    text-decoration:none;
}
.signout
{
    font-size: 14px;
    font-family: "Myriad Pro"; 
    color:#e6e3bb;
}
#logout 
{
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, #803c1f 0%, #9f4e28 100%);
    background-image: -webkit-linear-gradient( 90deg, #803c1f 0%, #9f4e28 100% );
    background-image: -ms-linear-gradient( 90deg, #803c1f 0%, #9f4e28 100% );
    border-top: 1px solid #b57657;
    box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
    position:relative;
    left:10px;
    width: auto;
    height: 22px;
    padding:5px;
    padding-top:3px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    margin-left:80px;
    text-decoration:none;
}
#main_section
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    width:960px;
    height:1300px;
    background-color:#242729;
    border-radius:10px;
    border-top: 1px solid #545658;
    position:relative;
    left: 120px;
    box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
}
img
{  margin-top:0px;}
#article
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    text-align:center;
}
#sec1
{
    text-align:left;
    margin:10px;
    margin-top:35px;
    color:#7b7a6d;
    font-family: "myriad pro";
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-pack:center;
    padding-bottom:32px;
    border-bottom:1px solid #393b3d;
}
#sec1 article
{
    -webkit-box-flex:1;
    padding-left:10px;
}
#sec1 > img
{
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
}
#sec1 h2, #s2p2 h2
{   
    margin-top:25px;
    font: 18px bold "Myriad Pro";
    color:#8e4423;
    line-height:0;
}
#sec1 h3, #s2p2 h3
{
	color:#7b7a6d;
    line-height:0;
    text-decoration:none;
    font: 12px italic "Myriad Pro";
}
#sec1 p, #s2p2 p
{
    position:relative;
    top:5px;
    font: 13px bold "myriad pro";    
	color:#7b7a6d;
}
#logo
{
    float:left;
    margin-left:0px;
    margin-top:20px;
    margin-right:5px;
}
#s1i3
{
    margin-right:5px;
}
#sec2
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    padding:20px;
}
#s2p1
{   
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    position:relative;
    top:-10px;
}
#s2p1p1,#s2p1p2,#s2p1p3
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    text-align:center;
    -webkit-box-flex:1;
    font-family: "myriad pro";
    font-size:13px;
    color:#7b7a6d;
}

#s2p1p1>h2,#s2p1p2>h2,#s2p1p3>h2
{
    text-decoration:none;
    font: 18px normal "nikaia script";
    color:#8e4423;
}
#s2p1p1>p,#s2p1p2>p,#s2p1p3>p
{
    position:relative;
    top:-25px;
    padding-left:50px;
    padding-right:50px;
}

#s2p1p2>p
{
    padding-left:55px;
    padding-right:55px;
}
.topbar {
    background-image: -moz-linear-gradient( 90deg, #75351b 0%, #a7532b 100%);
    background-image: -webkit-linear-gradient( 90deg, #75351b 0%, #a7532b 100%);
    background-image: -ms-linear-gradient( 90deg, #75351b 0%, #a7532b 100%);
    border-top: 1px solid #b56d4b;
    width: 960px;
    height: 29px;   
}
#s2bg
{
    margin-top:40px;
    position:absolute;
    left:0px;
}
.learnmore {
    border-top:1px solid #7e8183;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, #202324, #3b4043 100%);
    background-image: -webkit-linear-gradient( 90deg, #202324 0%, #3b4043 100%);
    background-image: -ms-linear-gradient( 90deg, #202324 0%, #3b4043 100%);
    width:auto;
    padding:6px;
    color:#e6e3bb;
    position:relative;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    margin:0px 110px;
    text-decoration:none;
}
.bg {    
    background:#e6e3bb;
    box-shadow: 0.5px 0.866px 0px 0px rgb( 0, 0, 0 );
    position: absolute;
    width: 960px;
    height: 519px;
    top:15px;
}
#s2p2
{
    position:relative;
    display:-webkit-box;
    -webkit-box-orient:vertical;
	
}
#s2p2h
{
	position:relative;
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
	-webkit-box-ordinal-group:1;
	z-index:2;
    font: 12px normal "myriad pro" ;
    top:10px;
}
#s2p2a
{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
	width:920px;
    top:20px;
	position:relative;
	background:#242729;
	border-top:1px solid #4d5051;
	border-radius:5px;
	box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
	z-index:3;
}
#s2p2ap1,#s2p2ap2,#s2p2ap3
{
    padding:30px;  
	position:relative;
	-webkit-box-flex:1;
	text-align:left;
	width:20px;
}
#s2p2ap1 img,#s2p2ap2 img,#s2p2ap3 img
{
	position: relative;
    float:left;
    padding-right:10px;
}
#s2p2ap1 h2,#s2p2ap2 h2,#s2p2ap3 h2
{
    margin-top:0;
}
#s2p2h
{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    position:relative;
    z-index:5;
    width:360px;
    text-align:center;
    margin: 0px auto;
}
#s2p2h ul
{
	list-style:none;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	width:360px;
}
#testimonials,#blog_posts
{
	 position:relative;
	width: 120px;
	height: 22x;
    top:25px;
    
	text-align: center;
	border-radius: 5px 5px 0px 0px;
	/*background-image: -moz-linear-gradient( 90deg, #242729, #3c3f40 100%);
	background-image: -webkit-linear-gradient( 90deg, #242729 0%, #3c3f40 100%);
	background-image: -ms-linear-gradient( 90deg, #242729 0%, #3c3f40 100%);*/
    background:#242729;
	color:#e6e3bb;
    border-left:1px solid #3a392f;	
	border-bottom:1px solid black;	
}
	
#s2p2h a
{
    position:relative;
    top:8px;
	text-align: center;
}
#latest_press
{
	position:relative;
	width: 120px;
	height: 32px;
    top:24px;
    -webkit-box-flex:1;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
	/*background-image: -moz-linear-gradient( 90deg, #242729, #3c3f40 100%);
	background-image: -webkit-linear-gradient( 90deg, #242729 0%, #3c3f40 100%);
	background-image: -ms-linear-gradient( 90deg, #242729 0%, #3c3f40 100%);*/
    background:#242729;
	color:#e6e3bb;
    border-left:1px solid #3a392f;	
	
	}
#leftarrow
{
	position: relative;
	width: 16px;
	height: 16px;
	background-image: -moz-linear-gradient( 90deg, #75371f, #ad5e35 100%);
	background-image: -webkit-linear-gradient( 90deg, #75371f 0%, #ad5e35 100%);
	background-image: -ms-linear-gradient( 90deg, #75371f 0%, #ad5e35 100%);
	box-shadow: 0px -1px 1px 0px #cfa189;
	border-radius: 9px;
	margin-top: 80px;
	margin-left: 30px;
	padding:0px;
	-webkit-box-shadow: 0px -1px 1px 0px #cfa189;
	
	
	}
#leftarrow img
{
	width:12px;
	postion:relative;
	margin-top:0px;
	top:-3px;
	}

#rightarrow
{
	position:relative;
	width:16px;
	height:16px;
	background-image: -moz-linear-gradient( 90deg, #75371f, #ad5e35 100%);
	background-image: -webkit-linear-gradient( 90deg, #75371f 0%, #ad5e35 100%);
	background-image: -ms-linear-gradient( 90deg, #75371f 0%, #ad5e35 100%);
	border-top: 1px solid #cfa189;
	border-radius: 9px;
	margin-top:80px;
	margin-right:30px;
	
	
	}
#rightarrow img
{
	width:12px;
	postion:relative;
	margin-top:0px;
	top:-3px;
	}
