@charset "utf-8";
/* CSS Document */
@font-face {
font-family: 'Vegur Regular';
font-style: normal;
font-weight: normal;
src: local('Vegur Regular'), url('fonts/Vegur-R 0.602.woff') format('woff');
}
@font-face {
font-family: 'Vegur Medium';
font-style: normal;
font-weight: normal;
src: local('Vegur Medium'), url('fonts/Vegur-M 0602.woff') format('woff');
}
@font-face {
font-family: 'Vegur Light';
font-style: normal;
font-weight: normal;
src: local('Vegur Light'), url('fonts/Vegur-L 0602.woff') format('woff');
}
@font-face {
font-family: 'Vegur Bold';
font-style: normal;
font-weight: normal;
src: local('Vegur Bold'), url('fonts/Vegur-B 0.602.woff') format('woff');
}
@font-face {
    font-family: 'NikaiaRegular';
    src: url('Nikaia-webfont.eot');
    src: url('fonts/Nikaia-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nikaia-webfont.woff') format('woff'),
         url('fonts/Nikaia-webfont.ttf') format('truetype'),
         url('fonts/Nikaia-webfont.svg#NikaiaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NikaiaRegularItalic';
    src: url('fonts/Nikaia_italic-webfont.eot');
    src: url('fonts/Nikaia_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nikaia_italic-webfont.woff') format('woff'),
         url('fonts/Nikaia_italic-webfont.ttf') format('truetype'),
         url('fonts/Nikaia_italic-webfont.svg#NikaiaRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
font-family: 'TitilliumText14l';
src: url("fonts/TitilliumText250wt.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
}
@font-face {
font-family: 'TitilliumText14l800';
src: url("fonts/TitilliumText800wt.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
}
a
{
    text-decoration:none;
    color:#e6e3bb;
}

body 
{
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    margin-left:0 auto;
    -webkit-font-smoothing: antialiased;
    background-color:#8e4423;
    background:url("back.png");
    background-repeat:repeat;
    text-align:center;
    
}
*{padding:0px;}
#body{
    
    position:relative;
    margin:0px 0px;
    -webkit-box-flex:1;
    min-width:960px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
    text-align:center;
    max-width:2000px;
}

#main_header{
    border-radius:10px;
    background-image: -moz-linear-gradient( 90deg, #272a2d 0%, #1f2224 100%);
    background-image: -webkit-linear-gradient( 90deg, #272a2d 0%, #1f2224 100%);
    background-image: -ms-linear-gradient( 90deg, #272a2d 0%, #1f2224 100%);
    box-shadow: 0px 0px 3px 0px rgb( 0, 0, 0 );
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-flex:1;
    position: relative;
    min-width:960px;
    top: -18px;
    margin-left:120px;;
    margin-right:120px;
    height: 92px;  
    color:#e6e3bb;
    max-width:2000px;
}

#main_header ul 
{
    margin-top:40px;
    display:inline-block;
    position:relative;
    border-left: 1px solid #7b7a6d;
    text-indent:0px;
}
#space{
    -webkit-box-flex:1;
}
.space{
    -webkit-box-flex:1;
}
#featured_title
{
    position:relative;
    font-family: 'nikaiaregularitalic';
    background:#242729;
    border-radius: 10px 10px 0px 0px;
    text-align:center;
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
    width:150px;
    padding-bottom:5px; 
    padding-top:0px;
    padding-left:5px;
    padding-right:30px;    
    color:white;
    border-top: 1px solid #545658;
    position:relative;
    top:-30px;
    z-index:50;
}
#featured_title div
{
    margin-top:10px;
}
#featured_title img
{
    padding-bottom:5px; 
    padding-top:7px;
    padding-left:10px;
    padding-right:10px;
}
#secspec
{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
}

#main_header ul li
{
	list-style:none;
    display:inline-block;
    padding-left:20px;
    font: 14px "Myriad pro";
    padding-top:5px;
    padding-bottom:5px;
    text-indent:0px;
}
#main_header h1
{
	margin: 30px 20px;
	font: 30pt italic "nikaiaregular";
    text-align:left;
}
.name {
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb( 123, 122, 109 );
    text-align: right;
}
.name strong
{
    text-decoration:none;
    color:#8e4423;
}
#main_header>ul>li>a
{
    text-decoration:none;
    color:#e6e3bb;
    text-decoration:none;
}
#userid {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, #3f4245 0%, #242628 100%);
    background-image: -webkit-linear-gradient( 90deg,#242628  0%, #1b1d1e 100%);
    background-image: -ms-linear-gradient( 90deg, #3f4245 0%, #242628 100%);
    border-bottom: 1px solid #3f4245;
    box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
    position:relative;  
    top:40px;  
    width: auto;
    text-align:right;
    height: 22px;
    padding:5px;
    padding-top:3px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    text-decoration:none;
    margin-right:25px;     
}
.signout
{
    font-size: 14px;
    font-family: "Myriad Pro"; 
    color:#e6e3bb;
}
#logout 
{
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, #803c1f 0%, #9f4e28 100%);
    background-image: -webkit-linear-gradient( 90deg, #803c1f 0%, #9f4e28 100% );
    background-image: -ms-linear-gradient( 90deg, #803c1f 0%, #9f4e28 100% );
    border-top: 1px solid #b57657;
    box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
    position:relative; 
    text-align:right;
    width: auto;
    height: 22px;
    padding:5px;
    padding-top:3px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    text-decoration:none;
    top:40px;
    margin-right:25px;
}
#main_section
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    margin-left:120px;
    margin-right:120px;
    min-width:960px;
    background-color:#242729;
    border-radius:10px;
    border-top: 1px solid #545658;
    position:relative;
    box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
    max-width:2000px;
    z-index:20;
    top:-31px;
}
img
{  margin-top:0px;}
#article
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    text-align:center;
}
#sec1
{
    text-align:left;
    margin:10px;
    margin-top:35px;
    color:#7b7a6d;
    font-family: "myriad pro";
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-pack:center;
    padding-bottom:32px;
    border-bottom:1px solid #393b3d;
}
#sec1 article
{
    -webkit-box-flex:1;
    padding-left:10px;
}
#sec1 > img
{
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
}
#sec1 h2, #s2p2 h2
{   
    margin-top:25px;
    font: 18px bold "Myriad Pro";
    color:#8e4423;
    line-height:0;
}
#sec1 h3, #s2p2 h3
{
	color:#7b7a6d;
    line-height:0;
    text-decoration:none;
    font: 12px italic "Myriad Pro";
}
#sec1 p, #s2p2 p
{
    position:relative;
    margin-top:5px;
    font: 13px bold "myriad pro";    
	color:#7b7a6d;
}
#s2p2 p
{
    font-family:'nikaiaregularitalic';
}
#logo
{
    float:left;
    margin-left:0px;
    margin-top:20px;
    margin-right:5px;
}
#s1i3
{
    margin-right:5px;
}
#sec2
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    margin-top:60px;
    padding-bottom:30px;
}
#s2p1
{   
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    position:relative;
    margin-top:-60px;
}
#s2p1p1,#s2p1p2,#s2p1p3
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    text-align:center;
    -webkit-box-flex:1;
    font-family: "myriad pro";
    font-size:13px;
    color:#7b7a6d;
}

#s2p1p1>h2,#s2p1p2>h2,#s2p1p3>h2
{
    text-decoration:none;
    font: 18px normal "nikaiaregular";
    color:#8e4423;
}
#s2p1p1>p,#s2p1p2>p,#s2p1p3>p
{
    position:relative;
    top:-25px;
    padding-left:50px;
    padding-right:50px;
}

#s2p1p2>p
{
    padding-left:55px;
    padding-right:55px;
}
.topbar {
    background-image: -moz-linear-gradient( 90deg, #8d4323 0%, #a7532b 100%);
    background-image: -webkit-linear-gradient( 90deg, #8d4323 0%, #a7532b 100%);
    background-image: -ms-linear-gradient( 90deg, #8d4323 0%, #a7532b 100%);
    border-top: 1px solid #b56d4b;
    position:relative;
    width:100%;
    height: 15px;   
}
.bottombar
{
    background-image: -moz-linear-gradient( 90deg, #75351b 0%, #a7532b 100%);
    background-image: -webkit-linear-gradient( 90deg, #75351b 0%, #a7532b 100%);
    background-image: -ms-linear-gradient( 90deg, #75351b 0%, #a7532b 100%);
    border-top: 1px solid #b56d4b;
    position:relative;
    top:30px;
    width:100%;
    height: 15px;   
}


.learnmore {
    border-top:1px solid #7e8183;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, #202324, #3b4043 100%);
    background-image: -webkit-linear-gradient( 90deg, #202324 0%, #3b4043 100%);
    background-image: -ms-linear-gradient( 90deg, #202324 0%, #3b4043 100%);
    width:auto;
    padding:6px;
    color:#e6e3bb;
    position:relative;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    text-decoration:none;
}

.bg {    
    background:#e6e3bb;
    box-shadow: 0.5px 0.866px 0px 0px rgb( 0, 0, 0 );
    position: relative;
    width:100%;
    -webkit-box-flex:1;
}
#s2p2
{
    position:relative;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    margin-right:20px;
    margin-left:20px;
}
#s2p2h
{
	position:relative;
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
	-webkit-box-ordinal-group:1;
    left:-96px;
    top:-5px;
    font-size:12px;
    font-family: "vegur regular";
    margin-top:10px;
}
.dummy a
{
	position:relative;
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
	-webkit-box-ordinal-group:1;    
    font-size:12px;
    font-family: "vegur regular";
    margin-top:6px;
}
#s2p2a
{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
	-webkit-box-flex:1;
    -webkit-box-pack:center;
    margin-top:10px;
	position:relative;
	background:#242729;
	border-top:1px solid #4d5051;
	border-radius:5px;
	box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
	z-index:3;
}
#s2p2ap1,#s2p2ap2,#s2p2ap3
{
    padding:30px;  
	position:relative;
	-webkit-box-flex:1;
	text-align:left;
	width:20px;
}
#s2p2ap1 img,#s2p2ap2 img,#s2p2ap3 img
{
	position: relative;
    float:left;
    padding-right:10px;
}
#s2p2ap1 h2,#s2p2ap2 h2,#s2p2ap3 h2
{
    margin-top:0;
}
#s2p2h
{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    position:relative;
    z-index:9;
    width:360px;
    text-align:center;
    margin: 0px auto;
}
.dummy 
{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    position:relative;
    z-index:1;
    width:300px;
    text-align:center;
    margin: 0px auto;
}
.dummy ul
{
	list-style:none;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	width:360px;
}
.dummy ul li
{
    position:relative;
	width: 110px;
    top:41px;    
    padding-bottom:3px;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
	/*background-image: -moz-linear-gradient( 90deg, #242729, #3c3f40 100%);
	background-image: -webkit-linear-gradient( 90deg, #242729 0%, #3c3f40 100%);
	background-image: -ms-linear-gradient( 90deg, #242729 0%, #3c3f40 100%);*/
    background:#242729;
	color:#e6e3bb;
    border-left:1px solid #3a392f;	
	border-bottom:1px solid black;	
}	
#s2p2h a
{
    position:relative;
    top:8px;
	text-align: center;
    padding:8px;
    width:124px;
    padding-left:30px;
    padding-right:30px;
}
#latest_press
{
	position:relative;
	width: 120px;
	height: 32px;
    top:24px;
    -webkit-box-flex:1;
	text-align: center;
    z-index:8;
	border-radius: 5px 5px 0px 0px;
	/*background-image: -moz-linear-gradient( 90deg, #242729, #3c3f40 100%);
	background-image: -webkit-linear-gradient( 90deg, #242729 0%, #3c3f40 100%);
	background-image: -ms-linear-gradient( 90deg, #242729 0%, #3c3f40 100%);*/
    background:#242729;
	color:#e6e3bb;
    border-left:1px solid #3a392f;		
}
#leftarrow
{
	position: relative;    
	width: 26px;
	height: 26px;
    margin-left:40px;
    margin-top:80px;
	background-image: -moz-linear-gradient( 90deg, #75371f, #ad5e35 100%);
	background-image: -webkit-linear-gradient( 90deg, #75371f 0%, #ad5e35 100%);
	background-image: -ms-linear-gradient( 90deg, #75371f 0%, #ad5e35 100%);
    border-top: 1px solid #cfa189;
    box-shadow: 0px 0px 4px 0px rgb( 0, 0, 0 );
	border-radius: 13px;	
	padding:0px;
	-webkit-box-shadow: 0px -1px 1px 0px #cfa189;	
}
#leftarrow img
{
	width:12px;
	postion:relative;
	margin-top:8px;
	top:-3px;
	}

#rightarrow
{
	position:relative;
	width:26px;
	height:26px;
	background-image: -moz-linear-gradient( 90deg, #75371f, #ad5e35 100%);
	background-image: -webkit-linear-gradient( 90deg, #75371f 0%, #ad5e35 100%);
	background-image: -ms-linear-gradient( 90deg, #75371f 0%, #ad5e35 100%);
	border-top: 1px solid #cfa189;
	border-radius: 13px;
	margin-top:80px;
	margin-right:30px;    
}
#rightarrow img
{
	width:12px;
	postion:relative;
	margin-top:8px;
	top:-3px;
}
#sec3
{
    position:relative;
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    text-align:left;
    padding:20px;
}
#s3p1
{
    position:relative;
    text-align:justify;
    -webkit-box-flex:1;
    font-family: "myriad pro";
    font-size:13px;
    color:#7b7a6d;
}
#s3p1 h2 {
    font-family: 'titilliumtext14l';
    font-size:18px;  
    color:#8e4423;
}
#s3p1 strong
{
    font-family: 'titilliumtext14l800';
}
#s3p2 h2 {
    font-family: 'titilliumtext14l';
    font-size:18px;  
    color:#8e4423;
}
#s3p2>h2>strong
{
    font-family: 'titilliumtext14l800';
}
#s3p2
{
    position:relative;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    width:500px;
    font-family: "myriad pro";
    font-size:13px;
    color:#7b7a6d;
}

#s3p1img
{
    float:right;
    width:140px;
    height:90px;
    position:relative;
    top:10px;
    border:5px solid #8e4423;
    margin:10px;
}
#emailb
{
    border-radius: 5px;
    border:1px solid #3f3e3d;
	text-align:left;
	width:250px;
	text-align:right;
    background-image: -moz-linear-gradient( 90deg, #2a2d2f, #232628 100%);
	background-image: -webkit-linear-gradient( 90deg, #2a2d2f 0%, #232628 100%);
	background-image: -ms-linear-gradient( 90deg, #2a2d2f 0%, #232628 100%);
}
#emailtext
{
    background:none;
    border:none;
    padding:10px;
    color:#7b7a6d;
    font-family: "myriad pro";
    font-size:13px;
    border-radius:5px;    
}
#signup
{
    background-image: -moz-linear-gradient( 90deg, #692d17 0%, #b2592e 100%);
    background-image: -webkit-linear-gradient( 90deg, #692d17 0%, #b2592e 100%);
    background-image: -ms-linear-gradient( 90deg, #692d17 0%, #b2592e 100%);
    border:none;
    border-top: 1px solid #c07854;
    padding:10px;
    box-shadow: -2.993px -0.209px 3px 0px rgba( 0, 0, 0 ,0.5);
    border-radius:5px;
    color:white;
    font-family: 'nikaiaregularitalic';
    font-size:13px;
    text-align:right;
}
#twitter
{
    position:relative;
    display:-webkit-box;
	-webkit-box-orient:horizontal;
	font-family:'nikaiaregularitalic';
    margin-bottom:30px;   
}
#twit_logo
{
	position: relative;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-align: center;
	border: 1px solid #3f3e3d;
	border-radius: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 16px;
    background-image: -moz-linear-gradient( 90deg, #2a2d2f, #232628 100%);
	background-image: -webkit-linear-gradient( 90deg, #2a2d2f 0%, #232628 100%);
	background-image: -ms-linear-gradient( 90deg, #2a2d2f 0%, #232628 100%);
}
#tweet
{
	position: relative;
	display:-webkit-box;
    width:410px;
    border: 1px solid #3f3e3d;
	border-radius: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 16px;
	margin-left: 16px;
    background-image: -moz-linear-gradient( 90deg, #2a2d2f, #232628 100%);
	background-image: -webkit-linear-gradient( 90deg, #2a2d2f 0%, #232628 100%);
	background-image: -ms-linear-gradient( 90deg, #2a2d2f 0%, #232628 100%);
}
#tweet strong
{
color:#e6e3bb;
}
#follow
{
	background-image: -moz-linear-gradient( 90deg, #692d17 0%, #b2592e 100%);
    background-image: -webkit-linear-gradient( 90deg, #692d17 0%, #b2592e 100%);
    background-image: -ms-linear-gradient( 90deg, #692d17 0%, #b2592e 100%);
    border:none;
    border-top: 1px solid #c07854;
  	padding:3px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
    box-shadow: -2.993px -0.209px 3px 0px rgba( 0, 0, 0 ,0.5);
    border-radius:5px;
    color:white;
    font-family: 'nikaiaregularitalic';
    font-size:13px;
    text-align:right;
    text-shadow:-0.1px -0.1px 3px 3px rgb( 0, 0, 0 );
    
}
#follow a
{
    color:#e6e3bb;
    text-decoration:none;
}
#main_footer
{
    position:relative; 
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    color:#725142;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
    font-family: "myriad pro";
    font-size:12px;
}
#main_footer a
{
    color:#725142;
    margin-left:6px;
    margin-right:6px;
    text-decoration:none;
}
#sec4
{
    position:relative;
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    padding:10px;
    background:#e6e3bb;
    color:#4f504b;
    font: 14px normal "myriad pro";
}
#sec4 ul
{
    list-style:none;
    padding-left:0;
    text-align:center;
}
#sec4 ul li
{
    padding-bottom:15px;
}
#sec4 h2
{
    font-family:'nikaiaregularitalic';
    font-size:18px;
    color:#8e4423;
    margin:15px;
    padding:10px;
    padding-top:0px;
    margin-bottom:0px;
    border-bottom:1px solid #7b7a6d;
}
#s4p2,#s4p3,#s4p4
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;
}
#s4p1
{
    display:-webkit-box;
    -webkit-box-orient:vertical;
}
#s4p1 h2
{
    text-align:left;
}
.row
{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    margin-left:10px;
    margin-top:5px;
}
#img_dummy
{
    width:50px;
    height:50px;
    background:#242729;
    border:5px solid #8e4423;
    margin:5px;
}
#s4p2 div
{
    -webkit-box-flex:1;
    
}
.special
{
    margin-top:20px;
}
.s2p1teeth
{
    position:absolute;
    float:top;
    top:45px;
}
.s4teeth
{
    position:relative;
    top:-21px;
    left:50px;
}